.home-container{
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.tag-line{
  align-self: center;
  color: #555;
  font-size: 10px;
  font-family: Helvetica, sans-serif;
  letter-spacing: -.3px;
  line-height: 23px;
  word-spacing: 1.3px;
}


.icon{
  height: 80px;
  width: 80px;
}

.all-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-side-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
  color: #555;
  font-size: 15px;

  font-family: Helvetica, sans-serif;
  letter-spacing: -.3px;
  line-height: 23px;
  word-spacing: 1.3px;
}

.home-link{
  padding-right: 20px;
  text-decoration: none;
  color: #555;
}

.subscriptions-link{
  padding-right: 20px;
  text-decoration: none;
  color: #555;
}

.product-link{
  padding-right: 20px;
  text-decoration: none;
  color: #555;
}

.logout-button{
  border: none;
  padding-right: 20px;
  text-decoration: none;
  color: #555;
  font-size: 1.17em;
  font-weight: bold;
}
